.mailing-list {

position: relative;
display: none;

}

&__button {
	position: absolute;
	display: block;
	top: 40%;
	left: 40%;
	background-color: $mainPurple;
	text-decoration: none;
	font-size: .75rem;
	/*padding: .75rem 1rem;
	



