.site-header {
	position: absolute; /* brings up header image so that header can be placed over top */
	z-index: 9;
	width: 100%;
	height: 5%;
	/*bring header to front. whatever element has a higher z index will be layered on top*/
	padding: 10px 0;
	transition: background-color .3s ease-out;

&--arrow--displayed {
	transform: translateY(20px);
}

&--arrow {
	position: absolute;
	right: 50px;
	top: 10px;
	z-index: -9;
	cursor: pointer;
}

&--arrow-tab {
	opacity: 0;
	float: right;
	position: relative;
	display: block;
	bottom: 10px;
	width: 10px;
	height: 10px;
	background-color: black;
	/*transform: translateY(40%);*/

	@mixin atMedium {
		opacity: 1;

	}

}

&--arrow-tab::after { /* makes triangle */ 
	content: "";
	position: absolute;
	top: 100%;
	background-color: black;
	width: 130px;
	height: 50px;
	transform: translateX(-70%);

	clip-path: polygon(0 0, 100% 0, 50% 100%);
}

&--arrow-text {
	opacity: 0;
	float: right;
	position: relative;
	display: block;
	color: white;
	z-index: 1;
	right: 5px;
	top: 5px;

	@mixin atMedium {
		opacity: 1;
	}
}

&--is-expanded {
	height: 15%;
	background-color: ;
	opacity: 1;
}

@mixin atMedium {
	/* we're moving the black bar to its own element! */
	/*background-color: black;*/  /* install NPM postcss-hexrgba to be able to use saved variables in rgba code */
	position: fixed; /* sticky header */ 

/*&--dark {
	background-color: black;
	}*/
}

&__btn-container {
	display: none;

@mixin atMedium {
	display: block;
	float: right;
	transform: translateY(-150%)
}

}

&__title {
	color: $mainGrey;
	background-color: white;
	position: absolute;
	left: 10px;
	width: 15%;
	padding: 5px;
	text-align: left;
	font-weight: 500;
	font-size: 1rem;
	opacity: 0.9;
	z-index: 9;
	transition: transform .5 ease-out;  /* so title smoothly transitions to fade out */ 

@mixin atMedium {
	background-color: white;
	position: absolute;
	left: 10px;
	top: 5px;
	border: 2px solid #e8e9ea; /* how do you space the border? */
	/*width: 15vw;*/
	padding:20px;
	text-align: center;
	font-weight: 900;
	font-size: 1.5rem;

	.site-header--dark & {
		opacity: 0;
	}
	}
}
}



