.site-footer {
	position: absolute;
	background-color: black;
	color: white;
	padding: .5rem 0;  /* padding so that the margin on the paragraph isn't visibly portruding out of the container div */
	text-align: left; 
	font-size: 0.7rem;

ul { /* parent of li */
	margin: 0;
	padding-left: 30px;
	@mixin clearfix; /* clears floats */
}

li {
	list-style: none; /* gets rid of bullet points */
	display: inline;
}

a { /*targets any links */
	position: relative;
	color: #FFF;
	font-size: 0.7rem;
	text-decoration: none; /* gets rid of underlines */
	display: block; /* turns links into block element */
	padding: 5px 5px;

	&:hover {
		color: $mainGold;
}
	}

/*&__text-content {
	position: relative;
	*/
}

}