
.btn {
	background-color: $mainMagenta; 
	color: #FFF;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;

&__menu {
	position: absolute;
	top: 15px;
	right: 15px;
	color: $mainPink;
	background-color: black;
	font-size: 1rem;
	transform: translateY(50%);
	cursor: pointer;
	text-decoration: none;
	padding: .75rem 1.1rem;
}

&--orange {
	background-color: $mainPurple;
}

&--orange-footer {
	float: center;
	transform: translateY(-30%);
}

&--large {
	padding: 1.2rem 1.5rem;

@mixin atSmall {
	font-size: 1.25rem;
}
}
}