
.btn {
	background-color: $mainPurple; 
	color: #FFF;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;

&--orange-footer {
	float: center;
	transform: translateY(-30%);
}

&--large {
	display: none;

@mixin atMedium {
	display: inline-block;
	padding: 1.4rem 2rem;
	font-size: 1rem;
}
}
}