.contact {
	background-color: $mainGold;
	color: #FFF;
	opacity: .8;
	text-align: center;

&__text-content {
	background-color: $mainGold;
	position: relative;
	left: 25%;
	width: 50%;
	text-align: center;
	/*transform: translateY(-30%);*/
}
}