.contact-form {
	left: 40vw;
	transform: translateX(30%);

	@mixin atMedium {
	font-size: 20px;
	position: absolute;
	left: 30vw;
	top:  -8vw;
	/*transform: translateY(-20%);*/

	}

&__btn {
	padding: 0rem .50rem;
	cursor: pointer;
	width: 300px;
}

&__name {
	height: 50px;
	margin: 0 0 1em 0;
	border: 2px solid #945779;

}

&__email {
	height: 50px;
	margin: 0 0 1em 0;
	border: 2px solid #945779;
}

&__message {
	height: 150px;
	width: 300px;
	border: 2px solid #945779;
}

}