.contact-form {
	left: 50vw;
	transform: translateX(30%);
	/*overflow: hidden;*/

	@mixin atMedium {
	/*overflow: hidden;*/ /*why doesn't this work?*/ 
	font-size: 25px;
	position: absolute;
	left: 40vw;
	transform: translateY(-40%);

	}

&__btn {
	position: relative;
	bottom: 18px;
	left: 5px;
}

&__name {

}

}