.contact-form {

	position: absolute;
	left: 45vw;
	top: -20vw;
	transform: translateX(-30%);

&__btn {
	cursor: pointer;
	width: 185px;
}

&__name {
	/*width: 300px;*/
	height: 40px;
	margin: 0 0 1em 0;
	border: 2px solid #945779;
}

&__email {
	/*width: 300px;*/
	height: 40px;
	margin: 0 0 1em 0;
	border: 2px solid #945779;

}

&__message {
	height: 100px;
	/*width: 300px;*/
	border: 2px solid #945779;

}

}