.contact-form {

	/*position: absolute;
	left: 45vw;
	top: -30vh;
	transform: translateX(-30%);*/
	width: 250px;
	margin: 0 auto;
	padding-top: 50px;

&__btn {
	cursor: pointer;
	width: 100%;
}

&__name {
	width: 100%;
	height: 40px;
	margin: 0 0 1em 0;
	border: 2px solid #945779;
}

&__email {
	width: 100%;
	height: 40px;
	margin: 0 0 1em 0;
	border: 2px solid #945779;

}

&__message {
	height: 100px;
	width: 100%;
	border: 2px solid #945779;

}

}