.contact {
	background-color: $mainGold;
	color: #FFF;
	opacity: .8;
	text-align: center;

&__text-content {
	background-color: $mainGold;
	position: relative;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 5px;
	/*transform: translateY(-30%);*/
}
}