.faq-title { /*you could nest a rule where any strong tags carry a different font weight */
	font-weight: 400;
	font-size: 1.8rem;
	color: $mainGrey;
	opacity: .8;
	text-align: center;

	@mixin atSmall {
		font-size: 2.55rem;
		font-weight: 400;
		opacity: .8rem;
		color: $mainGrey;
		text-align: center;
}

}