h1 {
	margin: 0 !important;
}

.header {
	border-bottom: 10px solid $mainPurple;

	&__image {
		display: block;
		width: 100%;
	}

	&__text-content {
		position: absolute;
		top: 15vw; 
		left: 0;
		width: 100%;
		text-align: center;
		letter-spacing: 2px;
	}

	&__subtitle {
		text-align: center;
		font-weight: 900;
		font-size: 2rem;
		margin: 0;
		opacity: 0.8;

		@mixin atSmall {
			font-size: 2rem;
		}

		@mixin atMedium {
			font-size: 2.5rem;
		}

		@mixin atLarge {
			font-size: 3.0rem;
		}
	}

	&__description {
		color: #FFF;
		font-size: 1.1rem;
		font-weight: 100;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;

		@mixin atSmall {
			font-size: 1.875rem;
		}	
	}
}
