.header {
	border-bottom: 10px solid $mainOrange;
	position: relative;

&__image {
	display: block;
	width: 100%;
}

 &__text-content {
	position: absolute;
	top: 50%;
	transform: translateY(-150%);
	left: 0;
	width: 100%;
	text-align: center;

@mixin atSmall {
	transform: translateY(-100%);
	}

@mixin atMedium {
	transform: translateY(-120%);
}

@mixin atLarge {
	transform: translateY(-60%);
}
}

&__subtitle {
	font-weight: 900;
	font-size: 2rem;
	margin: 0;
	opacity: 0.8;

	@mixin atSmall {
		font-size: 2.5rem;
	}

	@mixin atMedium {
		font-size: 3rem;
	}

	@mixin atLarge {
		font-size: 4.0rem;
	}
}

&__description {
	color: #FFF;
	font-size: 1.1rem;
	font-weight: 100;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;

@mixin atSmall {
	font-size: 1.875rem;
}	
}
}
