.mailing-list {
	position: absolute;
	top: 40px;
	left: 19%;


&--title {
	position: absolute;
	top: 0;
}

&__button {
	position: absolute;
	bottom: 10px;
	background-color: $mainPurple;
	text-decoration: none;
	font-size: .75rem;
	padding: .75rem 1rem;
	display: inline-block;
}

}
