.mailing-list {
position: absolute;
top: 0;
left: 20vw;

ul {
	width: 50%;
}

&__title {
	color: white;
	text-align: left; 
	font-size: 0.9rem;

}

&__name {
	border: 2px solid #945779;

}

&__email {
	border: 2px solid #945779;
	
}

&__btn {
padding: 0rem .5rem;

}
}


	



