.mobile-nav {

	&__content {
	display: none;

	&--is-visible {
		display: block;
		/*top: 15px;*/
		right: 0;
		z-index: 99;
	
	}

	&--overlay {
	height: 100%;
	/*width: 0;*/
	position: fixed;
	left: 0;
	top: 0;
	background-color: black;
	opacity: .9;
	overflow-x: hidden; /*disables horizontal scrolling*/
	transition: 0.5s; 
	}

}

	li {

		list-style: none; /* gets rid of bullet points */
		display: inline-list-item;
		text-align: center;

	}

	a {
		display: inline-block;
		width: 50%;
		font-size: 1rem;

	}

	&__menu-icon {
		width: 20px;
		height: 19px;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;

		&__middle { /*CSS for the 3 line sandwich nav symbol */
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			right: 10px;
			background-color: $mainPurple;
			transition: all .3s ease-out;  /* line transitions with ease out effect at .3seconds  */
			transform-origin: 0 50%;  /* changes the centre origin of the line from middle to right side */
		}

		&::before { /*CSS for the 3 line sandwich nav symbol. &:: to avoid needing multiple divs in html file (top, bottom, middle) */
			content: "";
			position: absolute;
			top: 0px;
			left: 0;
			width: 20px;
			height: 3px;
			right: 10px;
			background-color: $mainPurple;
			transition: all .3s ease-out;  /* line transitions with ease out effect at .3seconds  */
			transform-origin: 0 50%;  /* changes the centre origin of the line from middle to right side */
		}

		&::after { /*CSS for the 3 line sandwich nav symbol */
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 20px;
			height: 3px;
			right: 10px;
			background-color: $mainPurple;
			transition: all .3s ease-out;  /* line transitions with ease out effect at .3seconds  */
			transform-origin: 0 50%;  /* changes the centre origin of the line from middle to right side */
		}

		@mixin atMedium {
			display: none;
		} 
	}

	&__menu-icon--close-x {

		&::before {

			z-index: 999;
			transform: rotate(45deg) scaleX(1.25);
		}

		.mobile-nav__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);  /* shrinks width from 100% down to 0 (nothing) therefore will shrink and fade */
		}

		&::after {
			color: $mainPurple; 
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
			z-index: 99;
		}
	}
}
