.mobile-nav {

	&__content {
	opacity: 1;
	top: 15px;
	position: absolute;
	/*background-color: black;*/
	right: 0;
	z-index: 99;

}

	&--is-visible {
		opacity: 1;
		}

	/*	&--is-visible {
		opacity: 1;
		transform: scale(1);
		z-index:   so hidden content now gets pushed to the front when visible  
}*/

	li {

		list-style: none; /* gets rid of bullet points */
		display: inline-list-item;
		text-align: right;
	}

	&__menu-icon {
		width: 20px;
		height: 19px;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;

		&__middle { /*CSS for the 3 line sandwich nav symbol */
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			right: 10px;
			background-color: #FFF;
			transition: all .3s ease-out;  /* line transitions with ease out effect at .3seconds  */
			transform-origin: 0 50%;  /* changes the centre origin of the line from middle to right side */
		}

		&::before { /*CSS for the 3 line sandwich nav symbol. &:: to avoid needing multiple divs in html file (top, bottom, middle) */
			content: "";
			position: absolute;
			top: 0px;
			left: 0;
			width: 20px;
			height: 3px;
			right: 10px;
			background-color: #FFF;
			transition: all .3s ease-out;  /* line transitions with ease out effect at .3seconds  */
			transform-origin: 0 50%;  /* changes the centre origin of the line from middle to right side */
		}

		&::after { /*CSS for the 3 line sandwich nav symbol */
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 20px;
			height: 3px;
			right: 10px;
			background-color: #FFF;
			transition: all .3s ease-out;  /* line transitions with ease out effect at .3seconds  */
			transform-origin: 0 50%;  /* changes the centre origin of the line from middle to right side */
		}

		@mixin atMedium {
			display: none;
		} 
	}

	&__menu-icon--close-x {

		&::before {
			transform: rotate(45deg) scaleX(1.25);
		}

		.mobile-nav__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);  /* shrinks width from 100% down to 0 (nothing) therefore will shrink and fade */
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}
}
