/* the entire row must have its own row div followed by an additional row div selecting the specific rows. example: row-4 and row-8
*/
.row {

	@mixin clearfix; /* used to clear floats*/

&--gutters { /* gutters (space) between columns in row div */
	margin-right: -50px;
}

&--gutters > div { /*gutters (space) between any div's within gutters div */
	padding-right: 50px;
}

&__bottom-margin-for-small { /* bottom margin between about me photo and text for smaller screens in single column layout */
	margin-bottom: 1rem;
}

@mixin atLarge {
	
&__bottom-margin-for-large {
	margin-bottom: 0rem;
}
	
&__medium-4 { /* column layout for the about me section picture/2 column layout*/
float: left;
width: 33.3%; /*percentages of how much space each column takes up on the page*/
}

&__medium-4--larger {
	width: 37%;
}

&__medium-3 { /* column layout for the FAQ sections/3 column layout */
	float: left;
	width: 33.3%;
}

&__medium-8 { /* column layout for the about me section text/2 column layout*/
	float: left;
	width: 66.66%;
}

&__medium-8--smaller {
	width: 63%;
}

}

/* begin equal height rules so all columns display equal height */

&--equal-height-at-medium {
	@mixin atMedium {
		display: flex; /* code to create flexbox/display columns at equal height */
	}
	
	& > div { /* selects all children divs so all columns become same height */
	float: none;
	display: flex;
	}

}

&--equal-height-at-large {
	@mixin atLarge {
	display: flex;
	}

& > div {
	float: none;
	display: flex;
}	
}


}




